<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=viewport-width, initial-scale=1.0">
  <title>Anka_Customs</title>
  <link rel="stylesheet" href="/stylesheets/allFiles.css">
</head>

<body>
  <%- include('sidebar') %>
    <div class="filelist">
      <% if (error) { %>
        <div style="color: red; padding: 10px; background-color: #ffe5e5; border: 1px solid red;">
          <%= error %>
        </div>
        <% } else { %>

          <ul>
            <% allFiles.forEach(file=> { %>
              <li>
                <div class="images">
                  <img src="../uploads/ModelCovers/<%= file.coverImageNames[0] %>" alt="<%= file.title %>"
                    class="file-image">
                </div>
                <h3>
                  <%= file.title %>
                </h3>
                <p>Price: <%= file.price? "$" +file.price : "free" %>
                </p>
                <p><a href="<%= file.link %>">Instruction Manual</a></p>
                <button class="delete" onclick="deleteItem('<%= file.id %>')"><img src="../Icons/removeItem.svg" alt="Delete Item"></button>
              </li>
              <% }) %>
          </ul>
          <% } %>
    </div>
</body>
<script>
  try {
    const response = await fetch('/deleteItem', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ productId: fileId }),
    });
    console.log(productId)
    window.location.reload()
} catch (error) {
    console.error("Error deleting item:", error);
}
</script>
</html>