<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="stylesheets/cart.css">
</head>

<body>
    <div class="header">
        <%- include('partials/header') %>
    </div>
    <h1>Your Cart</h1>
    <div class="cart-page">
        <div class="cart-container">
            <ul class="cart-items">
                <% products.forEach((product)=> { %>
                    <li class="cart-item">
                        <div class="image">
                            <img src="/uploads/ModelCovers/<%= product.coverImageNames[0] %>" alt="Hotrod model">
                        </div>
                        <div class="info">
                            <h2>
                                <%= product.title %>
                            </h2>
                            <p>✅ Stl files</p>
                            <p>✅ Instructions</p>
                            <hr>
                            <p class="price">
                                <%= product.price? "$" +product.price : "free" %>
                            </p>

                        </div>
                        <div class="remove">
                            <button onclick="removeItem('<%= product.id %>')"><img src="/Icons/delete.svg"
                                    alt="Delete"></button>
                        </div>
                    </li>
                    <% }); %>
            </ul>
            <div class="checkout-summary">
                <div class="summary">
                    <% let sum=0 %>
                        <p>Subtotal <span>
                                <%= products.forEach((product)=>{sum += product.price}) %>
                                    $<%= sum.toFixed(2) %>
                            </span></p>
                        <p>Taxes <span>$<% let tax=(sum*0.01).toFixed(2)%>
                                    <%= tax %></span></p>
                        <hr>
                        <p><strong>Total</strong> <span><strong>
                                    $<%= parseFloat(tax) + parseFloat(sum) %>
                                </strong></span></p>
                        <a href="/cart"><button class="checkout-btn">Checkout</button></a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <%- include('partials/footer') %>
    </div>
</body>
<script>
    async function removeItem(fileId) {
        try {
            const response = await fetch('/remove', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ removeID: fileId }),
            });
            window.location.reload()
        } catch (error) {
            console.error("Error adding to cart:", error);
            alert("An error occurred. Please try again.");
        }
    }
</script>

</html>